<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1" >
  <display-name>FirstProject</display-name>
  <context-param>
  	<param-name>ERROR</param-name>
  	<param-value>please check your account, thank you!</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
    <servlet>
	  <servlet-name>LoginServlet</servlet-name>
	  <servlet-class>com.servlet.LoginServlet</servlet-class> 
	  <!-- xml寫參數 -->
  	 <!--  <init-param>
  	  	<param-name>name</param-name>
  	  	<param-value>Howard</param-value>
  	  </init-param>
  	  <init-param>
  	  	<param-name>password</param-name>
  	  	<param-value>123456</param-value>
  	  </init-param> -->
    </servlet>
  
    <servlet-mapping>
    	<servlet-name>LoginServlet</servlet-name>
    	<url-pattern>/LoginServlet</url-pattern>
  	</servlet-mapping>
  	
  	
  	<servlet-mapping>
      <servlet-name>LoginServlet</servlet-name>
      <url-pattern>/home</url-pattern>
  	</servlet-mapping>
</web-app>